.vpprefdata/
*.vpp~*
*.vpp.lck
*.vpp.bak*
*.vpp.working
*.vpp.working-journal
*.lock
tmp/*
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
practica_MartinRomeraSobrado.pdf
*.zip
informe/informe-ds2021-blx.bib

*.bbl

*.blg

informe/informe-ds2021.run.xml
